<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>MacClean</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Bootstrap Css -->
    <link href="../static/bootstrap-assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Style -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link href="../static/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="../static/plugins/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="../static/plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
    <link href="../static/plugins/Lightbox/dist/css/lightbox.css" rel="stylesheet">
    <link href="../static/plugins/Icons/et-line-font/style.css" rel="stylesheet">
    <link href="../static/plugins/animate.css/animate.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <style>
        .slider-box {
            font-family: Microsoft Yahei;
            padding-bottom: 10px
        }

        .slider-box .item {
            padding: 10px
        }

        .slider-box .item .tag, .slider-box .item .slider, .slider-box .item .val {
            float: left;
            margin-right: 18px
        }

        .slider-box .item .slider {
            width: 250px
        }

        .slider-box .item .slider div {
            background: #8FBF0B;
            border: none;
            height: 0.5em;
            margin-top: 0.5em
        }

        .slider-box .item .slider div .ui-slider-handle {
            background: #F4F3F1;
            width: 1em;
            height: 1em;
            border-radius: 1em
        }

        .slider-box .item .val input {
            border: none;
            border-bottom: 1px solid #ABADA8;
            background: none;
            padding: 0.1em 1em;
            color: #E4531C;
            font-weight: bold;
            font-size: 1em;
            width: 5em;
            text-align: center
        }

        .clr {
            clear: both
        }



    </style>
    <style>

        .myol .ui-selecting {
            background: #FECA40;
        }

        .myol .ui-selected {
            background: #2b542c;
            color: white;
        }

        .myol {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 20%;
        }

        .myol li {
            margin: 1px;
            padding: 0;
            font-size: 1em;
            height: 30px;
            width: 100px;
        }

    </style>

</head>
<body>

<section>
    <div class="container-fluid" style="background:#990000;color:#FFFFFF">
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="col-lg-6">
                        <img src="../static/img/logo/mcmaster_logo.png" height="60" width="50"
                             style="margin-left:100px"/>
                    </div>
                    <div class="col-lg-6">
                        <font color="white" size="40px" style="margin-left:-360px;">F a s t O F D</font>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<form action="input" method="post" id="inputform">

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-lg-3">
                <div>
                    <legend>Data</legend>
                    <div class="radio">
                        <label>
                            <input type="radio" name="dataset" id="example_1" value="example_1">
                            <p class="btn" style="font-size: large ;size:10px;margin-top: -5px">
                                Clinical</p>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="dataset" id="example_2" value="example_2">
                            <p class="btn" style="font-size: large ;size:10px;margin-top: -5px">
                                Pollution</p>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="dataset" id="example_3" value="example_3">
                            <p class="btn" style="font-size: large ;size:10px;margin-top: -5px">
                                Census</p>
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" name="dataset" id="upload" value="upload">
                            <p class="btn" style="font-size: large ;size:10px;margin-top: -5px">Upload your own data</p>
                        </label>
                        <p style=" margin-left: 30px;"><input type=file name=upload_file></p>
                    </div>

                    <legend style="margin-top: 10px">Algorithm</legend>

                    <div class="radio">
                        <label>
                            <input type="radio" name="algorithm" value="fastofd">
                            <p class="btn" style="font-size: large ;size:10px;margin-top: -5px">
                                FastOFD</p>
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" name="algorithm" value="synonymofd">
                            <p class="btn" style="font-size: large ;size:10px;margin-top: -5px">
                                Synonym OFD</p>

                        </label>
                    </div>

                    <div class="checkbox" style="margin-left:5px">
                        <label>
                            <input type="checkbox" class="checka" name="includeA" value="0">
                            <p class="btn" style="font-size: large ;size:10px;margin-top: -5px">
                                --Include Approximate OFDs</p>
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" name="algorithm" value="inheritanceofd">
                            <p class="btn" style="font-size: large ;size:10px;margin-top: -5px">
                                Inheritance OFD</p>
                        </label>
                    </div>
                    <div class="checkbox" style="margin-left:5px">
                        <label>
                            <input type="checkbox" name="includeA" class="checka" value="0">
                            <p class="btn" style="font-size: large ;size:10px;margin-top: -5px">
                                --Include Approximate OFDs</p>
                        </label>
                    </div>

                     <div class="radio">
                        <label>
                            <input type="radio" name="algorithm" value="tane">
                            <p class="btn" style="font-size: large ;size:10px;margin-top: -5px">
                                Tane</p>

                        </label>
                    </div>

                    <legend style="margin-top: 10px"> &tau; (%)</legend>
                    <div id="threshold">
                    </div>

                </div>
            </div>
            <div class="col-lg-9">
                <legend>Ontology</legend>
                <div>
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="tabbable">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#sample_ontology" data-toggle="tab">Sample Ontologies</a>
                                        </li>
                                        <li>
                                            <a href="#upload_ontology" data-toggle="tab">Upload your own Ontology</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="sample_ontology">

                                        </div>
                                        <div class="tab-pane active" id="upload_ontology">
                                        </div>
                                    </div>
                                    <div id="ontology_list">
                                        <legend>Chosen Ontologies</legend>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <input type="submit"
           class="btn  btn-md btn-block"
           name="submit"
           id="test_btn"
           value="submit"
           onclick="document.getElementById('inputform').submit();">
    </div>


</form>


<script>

    // obj = JSON.parse({{result|tojson}});

    var attributes = ["id","countrycode","country","disease","medicine","status","study_design"];

    //  var  attributes = obj.EXAMPLE_ATTRIBUTS;

    var myform = document.getElementById("inputform");

    var threshold = document.getElementById("threshold");
    setThreshold(threshold);
    function setThreshold(parent) {
        var li = document.createElement("li");
        li.setAttribute("class", "list-group-item");
        var row = document.createElement("div");
        row.className = "row";
        var span = document.createElement("div");
        span.className = "span12";
//        var col_1 = document.createElement("div");
//        col_1.className = "col-lg-4";
//        col_1.innerHTML = "Approximation Rate (%):";
        var col_2 = document.createElement("div");
        col_2.className = "col-lg-12";

        var slider_box = document.createElement("div");
        slider_box.className = "slider-box";
        var item = document.createElement("div");
        item.className = "item";
        item.style.width="100px";

        var slider = document.createElement("div");
        slider.className = "slider";
        var bar = document.createElement("div");
        bar.className = "bar";
        bar.id = "slider";
        bar_id = bar.id;

        var val = document.createElement("div");
        val.className = "val";
        var input_3 = document.createElement("input");
        input_3.name = "slider_threshold";
        input_3.value = "1";

        var clr = document.createElement("div");
        clr.className = "clr";


        val.append(input_3);
        slider.append(bar);
        item.append(slider);
        item.append(val);
        slider_box.append(item);
        slider_box.append(clr);
        col_2.append(slider_box);
//        row.append(col_1);
        row.append(col_2);
        li.append(row);
        parent.append(li);
    }

    var ontology_name_list =new Array();

    createOntology("sample_ontology", "medicine", attributes);
    createOntology("sample_ontology", "countrycode", attributes);
    createOntology("sample_ontology", "disease", attributes);

    createOntology("sample_ontology", "medicine-US", attributes);


    function createOntology(parent, name, attributes) {

        var tab = document.getElementById(parent);
        var ontology = document.createElement("div");
        ontology.className = "accordion";
        ontology.id = name;

        var heading = document.createElement("span");
        heading.setAttribute("class", "label label-primary");
        heading.innerHTML = name;
        ontology.style.marginTop = "10px";
        ontology.append(heading);
        tab.append(ontology);

        var ul = document.createElement("ul");
        ul.setAttribute("class", "list-group");

        setOntologyType(ul, name);

        function setOntologyType(parent, name) {

            var li_1 = document.createElement("li");
            li_1.setAttribute("class", "list-group-item");
            var row_1 = document.createElement("div");
            row_1.className = "row";
            var span = document.createElement("div");
            span.className = "span12";
            var col_1 = document.createElement("div");
            col_1.className = "col-lg-4";
            col_1.innerHTML = "Relationship Type:";
            var col_2 = document.createElement("div");
            col_2.className = "col-lg-4";

            var input_1 = document.createElement("input");

            input_1.style.marginLeft="-120px";

            input_1.setAttribute("type", "radio");
            input_1.setAttribute("class","syn_type");
            input_1.name = name + "_type";
            input_1.id = name + "_type";
            input_1.value =name + "_type";

            var text_1 = document.createTextNode("  Synonym ");

            col_2.appendChild(input_1);
            col_2.append(text_1);

            var col_3 = document.createElement("div");
            col_3.className = "col-lg-4";
            var input_2 = document.createElement("input");
            input_2.setAttribute("type", "radio");
            input_2.name = name + "_type";
            input_2.setAttribute("class", "inh_type");
            input_2.value= name + "_type";

            input_2.style.marginLeft="-270px";


            var text_2 = document.createTextNode("  Inheritance ");
            col_3.append(input_2);
            col_3.append(text_2);


            span.append(col_1);
            span.append(col_2);
            span.append(col_3);
            row_1.append(span);
            li_1.append(row_1);


            var li_2 = document.createElement("li");
            li_2.setAttribute("class", "list-group-item");
            li_2.id = name + "_inh_threshold";
            li_2.style.display="none";
            var row_2 = document.createElement("div");
            row_2.className = "row";
            var col_4 = document.createElement("div");
            col_4.className = "col-lg-4";
            col_4.innerHTML = "&theta; (unavailable now):";

            var col_5 = document.createElement("div");
            col_5.className = "col-lg-3";
            var slider_box = document.createElement("div");
            slider_box.className = "slider-box";
            var item = document.createElement("div");
            item.className = "item";

            slider_box.style.marginLeft="-120px";

            var slider = document.createElement("div");
            slider.className = "slider";
            var bar = document.createElement("div");
            bar.className = "inhbar";
            bar.id = name + "_inh_slider";
            bar_id = bar.id;

            var val = document.createElement("div");
            val.className = "val";
            var input_3 = document.createElement("input");
            input_3.name = name + "_inh_threshold";
            input_3.value = "1";
            var clr = document.createElement("div");
            clr.className = "clr";


            val.append(input_3);
            slider.append(bar);
            item.append(slider);
            item.append(val);
            slider_box.append(item);
            slider_box.append(clr);
            col_5.append(slider_box);
            row_2.append(col_4);
            row_2.append(col_5);
            li_2.append(row_2);
            parent.append(li_1);
            parent.append(li_2);
        }

        setOntologySense(ul, name);

        function setOntologySense(parent, name) {

            var li = document.createElement("li");
            li.setAttribute("class", "list-group-item");
            var row = document.createElement("div");
            row.className = "row";
            var span = document.createElement("div");
            span.className = "span12";
            var col_1 = document.createElement("div");
            col_1.className = "col-lg-4";
            col_1.innerHTML = "Sense:";
            var col_2 = document.createElement("div");
            col_2.className = "col-lg-3";


            var input = document.createElement("input");

            input.style.marginLeft="-200px";

            input.setAttribute("type", "text");
            input.setAttribute("class", "form-control");
            input.name = name + "_sense";
            <!--input.setAttribute("placeholder", "Can be anything");-->
            input.setAttribute("aria-describedby", "basic-addon1");
            col_2.append(input);
            span.append(col_1);
            span.append(col_2);
            row.append(span);
            li.append(row);
            parent.append(li);
        }


        setOntologyAttribute(ul, name, attributes);
        function setOntologyAttribute(parent, name, attributes) {
            var li = document.createElement("li");
            li.setAttribute("class", "list-group-item");
            var row = document.createElement("div");
            row.className = "row";
            var span12 = document.createElement("div");
            span12.className = "span12";
            var col_1 = document.createElement("div");
            col_1.className = "col-lg-5";
            col_1.innerHTML = "Select corresponding attribute:";
            var col_2 = document.createElement("div");
            col_2.className = "col-lg-5";
            var p = document.createElement("p");
            p.id = name + "_feedback";
            var span = document.createElement("span");
            span.id = name + "_select_result";
            p.append(span);
            var ol = document.createElement("ol");
            ol.id = name + "_selectable";
            ol.className = "myol";
            for (var i = 0; i < attributes.length; i++) {
                var li1 = document.createElement("li");
                li1.className = "ui-widget-content";
                li1.innerHTML = attributes[i];
                ol.append(li1);
            }
            col_2.append(p);
            col_2.append(ol);
            span12.append(col_1);
            span12.append(col_2);

            ol.style.marginLeft="-100px";

            row.append(span12);
            li.append(row);
            parent.append(li);
        }

        setAddDelete(ul, name);
        tab.append(ul);
        function setAddDelete(parent, name) {

            var li = document.createElement("li");
            li.setAttribute("class", "list-group-item");
            var row = document.createElement("div");
            row.className = "row";
            var span = document.createElement("div");
            span.className = "span12";
            var col_1 = document.createElement("div");
            col_1.className = "col-lg-6";
            var col_2 = document.createElement("div");
            col_2.className = "col-lg-6";

            var bt1 = document.createElement("button");
            bt1.setAttribute("type", "button");
            bt1.setAttribute("class", "btn btn-large btn-success add_ontology");
            bt1.value=name;
            bt1.style.marginLeft = "50px";
            bt1.innerHTML = "ADD ONTOLOGY";

            col_1.append(bt1);
            var bt2 = document.createElement("button");
            bt2.setAttribute("type", "button");
            bt2.setAttribute("class", "btn btn-large btn-danger del_ontology");
            bt2.innerHTML = "DELETE ONTOLOGY";
            bt2.style.marginLeft="-200px";
            bt2.value=name;
            col_2.append(bt2);

            span.append(col_1);
            span.append(col_2);
            row.append(span);
            li.append(row);
            parent.append(li);

        }
        $(document).ready(function () {
            $(function () {
                $(".myol").selectable({
                    stop: function () {
                        var result = $(this).prev().children("span").empty();
                        $(".ui-selected", this).each(function () {
                            var index = $("myol li").index(this);
                            result.append();
                        });
                    }
                });
            });
        });
    }

    $(document).ready(function () {
        $(".bar").slider({
            min: 0,
            max: 100,
            step: 10,
            value: $(this).parent().next().children().val(),
            slide: function (event, ui) {
                $(this).parent().next().children().val(ui.value);
            }
        });
    });
    $(document).ready(function () {

        $(".inhbar").slider({
            min: 0,
            max: 10,
            step: 1,
            value: $(this).parent().next().children().val(),
            slide: function (event, ui) {
                $(this).parent().next().children().val(ui.value);
            }
        });
    });
    $(document).ready(function () {
    });

    $(document).ready(function () {
        $(".add_ontology").click(function () {
            alert("Add Ontology: "+$(this).val());
            var value=$(this).val();
            var parent= document.getElementById("ontology_list");
            var panel = document.createElement("li");
            panel.class="ontology_name";
            panel.setAttribute("class","list-group-item list-group-item-success");
            panel.innerHTML=value;
            panel.id=$(this)+"panel";
            parent.append(panel);

            ontology_name_list.push(value);
            <!--alert(ontology_name_list.length);-->

        });
    });


    $(document).ready(function () {
        $(".del_ontology").click(function () {
            alert("Delete Ontology: "+$(this).val());
            var id=$(this)+"panel";
            var panel=document.getElementById(id);
            panel.parentNode.removeChild(panel);
        });
    });

    $(document).ready(function () {
        $(".inh_type").click(function () {
//            alert("Delete Ontology: "+$(this).val());
            var name_type=$(this).val();
            var split= new Array();
            split= name_type.split("_");
            var name=split[0];
            var next=name+"_inh_threshold";
            var hide_div=document.getElementById(next);
            hide_div.style.display=("block");

        });

    });


    $(document).ready(function () {
        $(".syn_type").click(function () {

            var name_type=$(this).val();
//            var split= new Array();
            split= name_type.split("_");
            var name=split[0];
            var next=name+"_inh_threshold";
            var hide_div=document.getElementById(next);
            hide_div.style.display=("none");





        });
    });
//       $(document).ready(function () {
//        $(".checka").click(function () {
//
//            $(this).value=1;
//
//        });
//
//    });

    $(document).ready(function () {
        $("#test_btn").click(function () {

            var inputform = document.getElementById("inputform");
            var newInput = document.createElement("input");
            newInput.setAttribute("type","text");
            newInput.style.display= "none "
            newInput.name="test";
            var str="";
            for (var i =0; i <ontology_name_list.length;i++){
                str = str+ontology_name_list[i]+"*";
            }
            newInput.value=str;
            inputform.append(newInput);

            for (var i =0; i <ontology_name_list.length;i++){
                ontology = ontology_name_list[i];
                var check_div = document.getElementById(ontology+"_inh_threshold");
                var check_type = document.createElement("input");
                check_type.setAttribute("type","text");
                check_type.style.display="none";
                check_type.name=ontology+"_kind_type"
                if (check_div.style.display == "none") {
                    <!--alert("none");-->
                    check_type.value="syn";
                }
                if (check_div.style.display == "block") {
                    <!--alert("block");-->
                    check_type.value="inh";
                }
                inputform.append(check_type);
            }

            var checka = document.createElement("input");
            checka.setAttribute("type","text");
            checka.style.display= "none "
            checka.name="checka";
            checka.value="0";
            if ($(".checka").is(':checked')) {
                <!--alert("checked!");-->
                checka.value="1";
            }
            inputform.append(checka);
        });
    });

</script>

</body>


</html>
